name: GitHub Actions Node Demo
on:
  push:
    branches: main #[ $default-branch ]
  pull_request:
    branches: main

jobs:

  buildApp:
    uses: adelanre/shared-pipeline/.github/workflows/node.js.yml@main
    with:
      node-version: 12.x

  docker:
    needs: [buildApp]
    uses: adelanre/shared-pipeline/.github/workflows/docker.yml@main
  
  dummyStep:
    runs-on: ubuntu-latest
    needs: [buildApp]
    steps:
    - run: echo "Just a dummy step"

  containerScan:
    runs-on: ubuntu-latest
    needs: [docker]
    steps:
    - run: echo "This will scan container"
    #uses: adelanre/shared-pipeline/.github/workflows/container-scan.yml@main

  deploy-sandbox:
    runs-on: ubuntu-latest
    needs: [docker,containerScan]
    steps:
    - run: echo "This will deploy the workload"
